/* html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.page-container {
  display: flex;
  position: relative;
  flex-direction: column;
  background-attachment: fixed;
  object-fit: fill;
  min-height: 100vh;
}

#splash-container {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 900px;
  /* box-shadow: 1px 1px 8px rgba(112, 111, 111, 0.356); */
  justify-content: center;
  /* align-items: center; */
  align-self: center;
}

#mid-section {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-size: cover;
}

#landing-image,
#logo-image {
  width: 100%;
  height: 100%;
}

.closeIcoOuterShell {
  width: 100%;
  max-width: 512px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-decoration: none;
  border: none;
  outline: 0;
  margin-bottom: -55px;
  z-index: 55;
}

.closeIcoShell {
  background-color: white;
  text-decoration: none;
  border: none;
  outline: 0;
  margin-right: 15px;
}

.closeIco {
  font-size: 30px;
  background-color: none;
  outline: 0;
  width: 40px;
  color: gray;
}

.closeIco:hover {
  cursor: pointer;
  color: green;
  outline: 0;
}

.defaultInner {
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.defaultOuter {
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  position: fixed;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  outline: none;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}