.page-container {
  display: flex;
  flex-direction: column;
}

#splash-container {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 900px;
  /* box-shadow: 1px 1px 8px rgba(112, 111, 111, 0.356); */
  justify-content: center;
  /* align-items: center; */
  align-self: center;
}

#mid-section {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-size: cover;
}

#landing-image {
  width: 100%;
  height: 100%;
}