.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.table-container {
  margin: 50px 0px 0px 50px;
  width: 1000px;
}