#landing-image,
#logo-image {
  width: 100%;
  height: 100%;
}

.create-league-container {
  position: relative;
  margin-top: 100px;
}

.page-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  background-attachment: fixed;
  min-height: 100vh;
}

.score-carousel-container-home {
  margin: 165px 0px 10px 0px;
  position: relative;
  /* height: 30vh; */
  z-index: 0;
}

.standings-list-container,
.create-league-container,
.misc-container,
.user-players-container,
.selected-team-container {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 500px;
  margin: 20px 20px 20px 55px;
  background-color: transparent;
}

/* .user-players-container {
  height: 650px;
  width: 2000px;
  margin-left: 400px;
  margin-bottom: 250px;
} */

/* .misc-container {
  border: 2px solid #EF3E42;
} */

.home-middle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: rgb(222, 151, 21); */
}

.home-bottom-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 400px;
}

/* .footer-container {
  position: relative;
  width: 100%;
  height: 18vh;
  border-top: 4px solid #EF3E42;
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
} */

h3 {
  font-family: "Poppins",
  sans-serif;
  font-size: 40px;
  color: whitesmoke;
  /* text-shadow: -1px -1px 0 #EF3E42,
  1px -1px 0 #EF3E42,
  -1px 1px 0 #EF3E42,
  1px 1px 0 #EF3E42; */
  /* text-shadow: -1px -1px 0 #005A9C,
  1px -1px 0 #005A9C,
  -1px 1px 0 #005A9C,
  1px 1px 0 #005A9C; */
  text-shadow: -1px -1px 0 #A5ACAF,
  1px -1px 0 #A5ACAF,
  -1px 1px 0 #A5ACAF,
  1px 1px 0 #A5ACAF;
  /* -webkit-text-fill-color: whitesmoke; */
  /* Will override color (regardless of order) */
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: #EF3E42; */
}

.submit-button {
  box-shadow: inset 0 0 0 4px #A5ACAF;
  color: #A5ACAF;
  transition: color 0.25s 0.0833333333s;
  position: relative;
  justify-content: center;
}

.submit-button::before,
.submit-button::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.submit-button::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.submit-button::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.submit-button:hover {
  color: #005A9C;
}

.submit-button:hover::before,
.submit-button:hover::after {
  border-color: #005A9C;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.submit-button:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.submit-button:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.submit-button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}

.submit-button:focus {
  outline: 2px dotted #55d7dc;
}

.MuiButton-label {
  margin: 7px;
}