.standings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

h3 {
  font: Georgia;
  font-size: 40px;
  color: whitesmoke;
  /* text-shadow: -1px -1px 0 #EF3E42,
  1px -1px 0 #EF3E42,
  -1px 1px 0 #EF3E42,
  1px 1px 0 #EF3E42; */
  /* text-shadow: -1px -1px 0 #005A9C,
  1px -1px 0 #005A9C,
  -1px 1px 0 #005A9C,
  1px 1px 0 #005A9C; */
  text-shadow: -1px -1px 0 #A5ACAF,
  1px -1px 0 #A5ACAF,
  -1px 1px 0 #A5ACAF,
  1px 1px 0 #A5ACAF;
  /* -webkit-text-fill-color: whitesmoke; */
  /* Will override color (regardless of order) */
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #EF3E42; */
}