.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-attachment: fixed;
  
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bar-container {
  margin: 5px 0px 10px 0px;
  position: relative;
} 

.footer-container {
  position: relative;
  width: 100%;
  height: 150px;
  left: 0;
  bottom: 0;
  border-top: 4px solid #EF3E42;
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
}

.get-started-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1200px;
}

.card {
  border: 5px solid red;
  border-bottom: none;
  position: relative;
  height: 500px;
  width: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border: 5px solid red;
  border-top: none;
} 